﻿<!DOCTYPE html>
<html class="html" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registration Confirmation</title>
    <style type="text/css">
        @media screen and (max-width: 500px) {button {padding: 14px 28px 10px;}}
        @media screen and (max-width: 450px) {
            .only-desktop {display: none;}
            .products-list {margin-bottom: 0;}
            .product-list-desktop {display: none;}
            .product-list-mobile {display: table-row;}
            section.main {padding: 35px 12px 40px;}
            .mobile-app {margin: 0;padding: 20px 0;}
            .body-img-mobile {margin-right: -10px;margin-bottom: -22px;}
            .w-50 {width: 100%;}
            .w-25 {width: 100%;}
            .align-right {text-align: right;}
            .p-20 {padding: 20px;}
        }
    </style>
</head>
<body class="body" style="background-color:#111214;font-family:Overpass;">
    <div class="container" style="max-width:600px;margin:0 auto;background-color:#141517;">
        <header class="centered"
            style="padding:20px 0px;background-color:#111214;border-bottom:solid 1px rgba(255, 255, 255, 0.1);text-align:center;">
            <img src="https://myaccount.myenergi.com:9090/img/myEnergiLogo.png" class="body-img" width="147px" height="43px"
            style="display:block;margin:0 auto;">
        </header>
        <div id="intro" class="section intro main"
            style="margin:0 20px;padding:35px 12px 40px;border-bottom:solid 1px #202020;padding:35px 58px 40px;flex-direction:column;">
            <div class="subtitle green fs-20 centered"
                style="font-family:Helvetica;text-align:center;color:#40ff7a;font-size:20px;margin-bottom:7px;">
                Thanks for registering
            </div>
            <div class="title light fs-28 centered"
                style="font-family:Helvetica;font-weight:bold;white-space:pre-line;color:#e5e5e5;font-size:28px;letter-spacing:-0.4px;margin-bottom:27px;text-align:center;">
                You’re all set up and ready to go!
            </div>
            <img src="https://myaccount.myenergi.com:9090/img/devices.png" class="body-img" height="286px"
                style="display:block;margin:0 auto;">
            <p class="content white helvetica fs-14"
                style="color:#ffffff;font-family:Helvetica;font-size:14px;line-height:1.43;white-space:pre-line;margin-top:30px;margin-bottom:27px;">
                Hi {{ first_name}},<br>
                You’re ready to access the
                myenergi customer portal and make the most of managing
                your setup.
            </p>
            <form action="http://myaccount.myenergi.com/" style="width:100%;">
                <button type="submit"
                    style="height:52px;border-radius:26px;border:solid 2px #40ff7a;padding:17px 42px;background-color:transparent;cursor:pointer;color:#40ff7a;font-size:14px;">
                    My customer portal
                </button>
            </form>
        </div>
        <div class="section main"
            style="margin:0 20px;padding:35px 12px 40px;border-bottom:solid 1px #202020;padding:35px 58px 40px;">
            <div class="title green fs-16 mb-24"
                style="font-family:Helvetica;font-weight:bold;white-space:pre-line;color:#40ff7a;font-size:16px;margin-bottom:24px;">
                Your account details
            </div>
            <table style="table-layout:fixed;">
                <tr>
                    <td class="detail" style="display:table-cell;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Name
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ user_name }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detail" style="display:table-cell;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Email
                        </div>
                        <div class="email white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ user_email }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detail" colspan="2" style="display:table-cell;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Primary address
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ user_address }}, {{ user_city }}, {{ user_region }}, {{ user_postalcode }},
                            {{ user_country }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detail w-50" style="display:table-cell;width:50%;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Mobile number
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ user_mobile }}
                        </div>
                    </td>
                    <td class="detail w-50" style="display:table-cell;width:50%;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Landline number
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ user_landline }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="deviceSection" class="section main"
            style="margin:0 20px;padding:35px 12px 40px;border-bottom:solid 1px #202020;padding:35px 58px 40px;">
            <div class="title green fs-16 mb-24"
                style="font-family:Helvetica;font-weight:bold;white-space:pre-line;color:#40ff7a;font-size:16px;margin-bottom:24px;">
                Your device details
            </div>
            <div id="deviceAddress" class="detail">
                <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                    {{ user_address }}, {{ user_city }}, {{ user_region }}, {{ user_postalcode }}, {{ user_country }}
                </div>
            </div>
            <table id="deviceDetails" style="table-layout:fixed;">
                <tr>
                    <td class="detail w-50" style="display:table-cell;width:50%;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Device
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ device_name }}
                        </div>
                    </td>
                    <td class="detail w-50" style="display:table-cell;width:50%;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Device serial number
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ device_serial }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="detail w-50" style="display:table-cell;width:50%;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Installation date
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ device_installation_date }}
                        </div>
                    </td>
                    <td class="detail w-50" style="display:table-cell;width:50%;">
                        <div class="grey fs-14"
                            style="color:#7e7e7e;font-size:14px;line-height:1.43;padding-bottom:12px;">
                            Installer
                        </div>
                        <div class="white fs-16" style="color:#ffffff;font-size:16px;padding-bottom:23px;">
                            {{ device_installer }}
                        </div>
                    </td>
                </tr>
            </table>
            <div class="divider" style="width:100%;height:1px;background-color:#202020;margin:36px 0;"></div>
        </div>
        <div id="products" class="section products"
            style="margin:0 20px;padding:35px 12px 40px;border-bottom:solid 1px #202020;flex-direction:column;">
            <div class="title light fs-20 mb-28 centered"
                style="font-family:Helvetica;font-weight:bold;white-space:pre-line;text-align:center;color:#e5e5e5;font-size:20px;margin-bottom:28px;">
                Our product family
            </div>
            <table class="products-list" style="table-layout:fixed;width:100%;margin-bottom:37px;">
                <tr class="product-list-desktop" style="display:table-row;">
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/device-zappi-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            zappi</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Eco-smart EV charger. Charge your EV with your PV.</div>
                    </td>
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/device-eddi-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            eddi</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Microgeneration energy diverter free water and space heating using excess energy from your
                            PV or wind turbine.</div>
                    </td>
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/device-harvi-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            harvi</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Energy harvesting wireless sensor</div>
                    </td>
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/hub-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            hub</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Remotely control & monitor your myenergi devices</div>
                    </td>
                </tr>
                <tr class="product-list-mobile" style="display:none;">
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/device-zappi-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            zappi</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Eco-smart EV charger. Charge your EV with your PV.</div>
                    </td>
                </tr>
                <tr class="product-list-mobile" style="display:none;">
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/hub-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            eddi</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Microgeneration energy diverter free water and space heating using excess energy from your
                            PV or wind turbine.</div>
                    </td>
                </tr>
                <tr class="product-list-mobile" style="display:none;">
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/device-harvi-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            harvi</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Energy harvesting wireless sensor</div>
                    </td>
                </tr>
                <tr class="product-list-mobile" style="display:none;">
                    <td class="product w-25" style="display:table-cell;vertical-align:top;width:25%;">
                        <div class="image" style="height:123px;margin-bottom:12px;">
                            <img src="https://myaccount.myenergi.com:9090/img/hub-icon.png" height="123px"
                                class="body-img" style="display:block;margin:0 auto;" />
                        </div>
                        <div class="name green bold helvetica fs-16"
                            style="color:#40ff7a;font-weight:bold;font-family:Helvetica;font-size:16px;text-align:center;margin-bottom:3px;line-height:1.5;">
                            hub</div>
                        <div class="desc white helvetica fs-10"
                            style="color:#ffffff;font-family:Helvetica;font-size:10px;line-height:1.4;text-align:center;">
                            Remotely control & monitor your myenergi devices</div>
                    </td>
                </tr>
            </table>
            <form action="https://myenergi.com/products/" class="centered"
                style="width:100%;text-align:center;width:unset;">
                <button type="submit"
                    style="height:52px;border-radius:26px;border:solid 2px #40ff7a;padding:17px 42px;background-color:transparent;cursor:pointer;color:#40ff7a;font-size:14px;">
                    Discover more
                </button>
            </form>
        </div>
        <table id="mobile-app" class="section mobile-app find-out-more"
            style="table-layout:fixed;margin:0 20px;padding:35px 12px 40px;border-bottom:solid 1px #202020;padding-bottom:0px;padding-right:0px;margin-right:0px;padding-top:30px;">
            <tr>
                <td class="content w-50 vert-align p-20" style="display:table-cell;vertical-align:top;width:50%;">
                    <div class="title green fs-18"
                        style="font-family:Helvetica;font-weight:bold;white-space:pre-line;color:#40ff7a;font-size:18px;line-height:1.44;margin-bottom:9px;">
                        myenergi app on
                        Android & iOS
                    </div>
                    <div class="white helvetica fs-14 mb-24"
                        style="color:#ffffff;font-family:Helvetica;font-size:14px;line-height:1.43;margin-bottom:24px;">
                        Get full access to your eco-home products including Zappi EV charger, Eddi power diverter, Grid
                        input/export, PV generation and battery storage information.
                    </div>
                    <form action="https://myenergi.com/product/myenergi-app/" style="width:100%;">
                        <button type="submit"
                            style="height:52px;border-radius:26px;border:solid 2px #40ff7a;padding:17px 42px;background-color:transparent;cursor:pointer;color:#40ff7a;font-size:14px;width:max-content;">
                            Find out more
                        </button>
                    </form>
                </td>
                <td class="image w-50 only-desktop"
                    style="display:table-cell;width:50%;display:block;margin-right:-32px;margin-bottom:-40px;">
                    <img src="https://myaccount.myenergi.com:9090/img/mobile_app.jpg" width="288px" class="body-img"
                        style="display:block;margin:0 auto;">
                </td>
            </tr>
            <tr class="product-list-mobile" style="display:none;">
                <td class="align-right" style="display:table-cell;">
                    <img src="https://myaccount.myenergi.com:9090/img/mobile_app.jpg" width="288px"
                        class="body-img-mobile" />
                </td>
            </tr>
        </table>
        <div id="final" class="section final centered"
            style="margin:0 20px;padding:35px 12px 40px;border-bottom:solid 1px #202020;text-align:center;margin:0;padding:36px 32px 14px;flex-direction:column;">
            <div class="title"
                style="font-family:Helvetica;font-weight:bold;white-space:pre-line;font-size:16px;color:#ffffff;margin-bottom:12px;">
                The myenergi team</div>
            <img src="https://myaccount.myenergi.com:9090/img/logoPink.png" width="25px" height="35px" class="body-img"
                style="display:block;margin:0 auto;">
            <div class="copyright" style="font-size:14px;color:#7e7e7e;margin-top:35px;">© myenergi Ltd. 2020</div>
        </div>
        <footer class="centered" style="background-color:#111214;padding:16px 0px;text-align:center;">
            <div class="footer-links" style="height:15px;font-size:12px;color:#818181;">
                <a class="footer-link" href="http://myenergi.com/terms-and-conditions/"
                    style="text-decoration:none !important;font-family:inherit !important;font-weight:inherit !important;line-height:inherit !important;font-size:12px !important;color:#818181 !important;">
                    Terms & Conditions
                </a>
                |
                <a class="footer-link" href="http://myenergi.com/privacy/"
                    style="text-decoration:none !important;font-family:inherit !important;font-weight:inherit !important;line-height:inherit !important;font-size:12px !important;color:#818181 !important;">
                    Privacy policy
                </a>
            </div>
        </footer>
    </div>
</body>

</html>